    <footer id='contact ' class='page-footer style-footer '>
        <div class='container-fluid '>
            <div class='row mb-4 mb-2 py-4 '>
                <div class='col-lg-4 col-md-6 mb-md-1 '>
                    <a href='tel:0202440884' class='extra-style-footer'>020 244 0884</a><br>
                    <a href='mailto:support@foodmarketamsterdam.nl ' class='extra-style-footer '>support@foodmarketamsterdam.nl</a>
                </div>
                <div class='col-lg-4 col-md-6 mb-md-1 '>
                    <p class='extra-style-footer '>Jan van Galenstraat 4</p>
                    <p class='extra-style-footer '>1051 KM Amsterdam</p>
                </div>
                <div class='col-lg-2 col-md-6 mb-md-1 respHide col-mobile '>
                    <p class='extra-style-footer '>we houden je </p>
                    <p class='extra-style-footer '>op de hoogte via</p>
                </div>
                <div class='col-lg-2 col-md-4 mb-md-1 col-mobile '>
                    <!-- facebook -->
                    <a href='https://www.facebook.com/foodmarketamsterdam/' target="_blank"><svg
                                xmlns='http://www.w3.org/2000/svg ' xmlns:xlink='http://www.w3.org/1999/xlink '
                                viewBox='0 0 44 44 ' enable-background='new 0 0 44 44 '>
                                <defs>
                                    <path id='a ' d='M0 0h44v44H0z ' />
                                </defs>
                                <clipPath id='b '>
                                    <use xlink:href='#a ' overflow='visible ' />
                                </clipPath>
                                <path clip-path='url(#b) ' stroke='#fff '
                                    d='M22 43.5c11.9 0 21.5-9.6 21.5-21.5S33.9.5 22 .5.5 10.1.5 22 10.1 43.5 22 43.5z '
                                    fill='none ' />
                                <path clip-path='url(#b) ' fill='#fff '
                                    d='M17.8 34.6V22h-3.3v-4.5h3.3v-3.9c0-3 2-5.8 6.5-5.8 1.8 0 3.2.2 3.2.2l-.1 4.2h-2.9c-1.6 0-1.9.8-1.9 2v3.3h4.9l-.2 4.5h-4.7v12.5h-4.8z ' />
                            </svg></a>
                    <!-- twitter -->
                    <a href='https://twitter.com/foodmarketamsterdam' target="_blank"><svg
                                xmlns='http://www.w3.org/2000/svg ' xmlns:xlink='http://www.w3.org/1999/xlink '
                                viewBox='0 0 44 44 ' enable-background='new 0 0 44 44 '>
                                <defs>
                                    <path id='a ' d='M0 0h44v44H0z ' />
                                </defs>
                                <clipPath id='b '>
                                    <use xlink:href='#a ' overflow='visible ' />
                                </clipPath>
                                <path clip-path='url(#b) ' stroke='#fff '
                                    d='M22 43.5c11.9 0 21.5-9.6 21.5-21.5S33.9.5 22 .5.5 10.1.5 22 10.1 43.5 22 43.5z '
                                    fill='none ' />
                                <path clip-path='url(#b) ' fill='#fff ' d='M10.2 30.5c2.8.2 5.3-.5 7.7-2.2-2.5-.3-4.1-1.5-5-3.8h2.2c-2.5-1-3.9-2.7-4.1-5.4.8.2 1.5.4 2.2.6 0-.1.1-.1.1-.2-1.3-1-2-2.3-2.2-3.9-.1-1.1.1-2.1.7-3.1 2.9 3.4 6.6 5.3 11.1 5.6 0-.8-.1-1.5 0-2.2.4-2 1.6-3.4 3.6-4.1
                1.9-.7 3.7-.3 5.3 1.1.3.2.5.4.9.2l2.4-.9c.1 0 .2-.1.4-.2-.4 1.2-1.1 2.1-2 2.9.4-.1.9-.2 1.3-.3.4-.1.9-.3 1.4-.5-.6.9-1.2 1.6-2 2.2-.4.3-.6.7-.6 1.2-.2 5.6-2.5 10.1-7.3 13.1-2.8 1.8-6 2.4-9.4 2.1-2.3-.2-4.5-.9-6.4-2.1-.1 0-.1-.1-.2-.1-.1.1-.1.1-.1
                0 ' />
                            </svg></a>
                    <!-- insta -->
                    <a href='https://www.instagram.com/foodmarketamsterdam/?hl=nl' target="_blank"><svg
                                viewBox='0 0 44 44 ' xmlns='http://www.w3.org/2000/svg ' fill-rule='evenodd '
                                clip-rule='evenodd '>
                                <path
                                    d='M22 43.5c11.9 0 21.5-9.6 21.5-21.5S33.9.5 22 .5.5 10.1.5 22 10.1 43.5 22 43.5z '
                                    stroke='#fff ' fill='none ' />
                                <path d='M25.95 11.47h-7.9c-3.633 0-6.58 2.947-6.58 6.58v7.9c0 3.633 2.946 6.58 6.58 6.58h7.9c3.633 0 6.58-2.946 6.58-6.58v-7.9c0-3.633-2.947-6.58-6.58-6.58zm4.606 14.48c0 2.54-2.067 4.606-4.607 4.606h-7.9c-2.54 0-4.606-2.067-4.606-4.607v-7.9c0-2.54
                2.067-4.606 4.607-4.606h7.9c2.54 0 4.606 2.066 4.606 4.607v7.9zM22 16.735c-2.908 0-5.265 2.357-5.265 5.265 0 2.908 2.357 5.265 5.265 5.265 2.907 0 5.265-2.357 5.265-5.265 0-2.908-2.357-5.265-5.265-5.265zm0 8.556c-1.814 0-3.29-1.476-3.29-3.29
                0-1.815 1.476-3.29 3.29-3.29s3.29 1.474 3.29 3.29c0 1.814-1.476 3.29-3.29 3.29z ' fill='#fff ' />
                                <circle cx='27.66 ' cy='16.34 ' r='.702 ' fill='#fff ' /></svg></a>
                </div>
            </div>
        </div>

    </footer>