<!--navigatie-->
<nav id='navDesktop' class='container  my-22'>
    <div class='nav nav-bar align-items-end '>
        <a class='col-sm-3 text-left navLink' href='#downloadApp'>Download App</a>
        <a class='col-sm-6 text-center navLink' href='#crossCards'><img class='navImg' 4 src='./img/headerLogo_placeH.png' alt=''></a>
        <a class='col-sm-3 text-right navLink' href='#bezorggebied'>Bekijk bezorggebied</a>
    </div>
</nav>


<nav id='navResponsive' class='my-22 d-flex flex-row justify-content-center '>
        <a class='text-center' href='#crossCards'><img class='navImg' src='./img/headerLogo_placeH.png' alt=''></a>
</nav>

<!--navigatie-->