@font-face {
    font-family: 'Avenir';
    src: url('../fonts/AvenirLTStd-Book.otf');
}

@font-face {
    font-family: 'VLNL-Berlagebrug-Gietijzer';
    src: url('../fonts/VLNL-Berlagebrug-Gietijzer.ttf');
}

body {
    font-family: 'Avenir';
    color: #5a5a5a;
    font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
.sectionH2,
button {
    font-family: 'VLNL-Berlagebrug-Gietijzer';
    color: #231e1e;
}

.carousel-caption {
    right: 5%;
    left: 5%;
}

.carousel-caption h1 {
    font-size: 3.2rem;
}

.carousel-caption h2 {
    font-size: 1.5rem;
}

.white {
    color: #fff;
}

button a:hover {
    color: #231e1e;
    text-decoration: none;
}

a {
    color: white;
    font-family: 'Avenir';
    margin: 0;
    padding: 0;
}

svg {
    width: 25%;
    margin-right: 1%!important;
    padding-top: 5%;
}

.card {
    border: none;
}

.extra-style-AmsterdamCross {
    text-align: center;
    color: #6e0f0a;
    /* height: 10vh; */
}

.extra-style-red {
    background: #ff2d0a;
    color: white;
    padding: 15px;
    font-size: 1.1rem;
    border-radius: 8px;
}

.extra-style-store {
    background: #d7e0e5;
    padding: 5%;
}

.extra-style-logos {
    width: 25%;
    margin: auto auto;
    background: white;
    padding: 5%;
    border-radius: 15%;
}

.storelogos {
    margin: auto auto;
    width: 60%;
    justify-content: space-around;
}

.extra-style-storelogos {
    width: 40%;
    margin-top: 5%
}

.style-footer {
    background: #ff2d0a;
    padding-bottom: 1%;
}

.extra-style-footer,
.extra-style-footer a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    margin: 0;
}

.circle_indicator {
    border-radius: 100%;
    width: 20px !important;
    height: 20px !important;
    background-color: #fff !important;
}

.carousel-caption {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
    color: #231e1e;
}

.navLink {
    text-decoration: none;
    text-transform: uppercase;
    color: #5a5a5a;
    font-size: 1rem;
    font-weight: 800;
    padding: 0;
}

.last-resp {
    order: 12
}

.first-resp {
    order: 1;
}

.iosLogo {
    margin-right: 1rem;
}

.extra-style-storelogos {
    width: 80%;
    height: auto;
}

.appBtn {
    margin-top: 1rem;
    padding-left: 0;
    padding-right: 0;

}

.container-fluid{
padding:0 10%;
height: 850px;
margin:2rem 0;
}
.wideContainer {
    max-width: 1280px;
    /* height: 720px; */
}

.cross {
    width: 5rem;
    align-self: center;
}

.navImg {
    width: 25%;
}

#crossCards {
    width: 50%;
}

#navDesktop {
    display: block;
    padding: 0;
}

#navResponsive {
    display: none;
}
.squareImg{
      height:714px;
      background-size: cover;
}

/* Carrousel 2 TODO */
#cImage2-0 {
     background-image: url('../img/fotoVerticaal_placeH.png');
}

#cImage2-1 {
    background-image: url('../img/fotoVerticaal_placeH.png');
}

#cImage2-2 {
    background-image: url('../img/fotoVerticaal_placeH.png');
}
#cImage2-3 {
  background-image: url('../img/fotoVerticaal_placeH.png');
}
/* Carrousel 2 TODO */

/* Carrousel 3 */
#cImage3-1 {
    background-image: url('../img/carrousel-3/Box_4.2.jpg');
}
#cImage3-0 {
    background-image: url('../img/carrousel-3/Box_4.2.jpg');
}
#cImage3-0 {
    background-image: url('../img/carrousel-3/Box_4.2.jpg');
}
#cImage3-0 {
    background-image: url('../img/carrousel-3/Box_4.2.jpg');
}
/* Carrousel 3 */


/* Carrousel 4 TODO */
#cImage4-0 {
 background-image: url('../img/fotoVerticaal_placeH.png');
}

#cImage4-1 {
 background-image: url('../img/fotoVerticaal_placeH.png');
}

#cImage4-2 {
 background-image: url('../img/fotoVerticaal_placeH.png');
}
#cImage4-3 {
   background-image: url('../img/fotoVerticaal_placeH.png');
}
/* Carrousel 4 TODO */


@media only screen and (max-device-width: 480px) {
    h1 {
        font-size: 1.2rem;
    }
    h2 {
        font-size: 0.9rem;
    }
    h3 {
        font-size: 1rem;
    }
    .cross {
        width: 10%;
    }
    .navLink {
        font-size: 0.8rem;
        /* font-weight: 800; */
        padding: 0;
    }
    .navImg {
        width: 25%;
    }
    #navResponsive {
        display: flex;
        flex-direction: column;
        /* width: 100%; */
    }
    #navDesktop {
        display: none;
    }
    .extra-style-footer {
        font-size: 0.9rem;
        text-align: left;
    }
    svg {
        width: 25%;
        margin-right: 1%!important;
        padding: 0;
    }
    .col-mobile {
        width: 49%;
        margin: 0;
    }
    .last-resp {
        order: 1;
    }
    .first-resp {
        order: 12;
    }
    .sectionH2 {
        font-size: 1.5rem;
        font-weight: bold;
    }
    .storelogos {
        padding: 0;
    }
    .extra-style-logos {
        width: 50%;
    }
    .extra-style-storelogos {
        width: 50%;
        height: auto;
    }
    .iosLogo {
        margin-right: 0;
    }
    .respMT {
        margin-top: 2rem !important;
        text-align: center;
        font-size: smaller;
    }
    .circle_indicator {
        width: 7.5px !important;
        height: 7.5px !important;
    }
    .carousel-caption h1 {
        font-size: 1.2rem;
    }
    .carousel-caption h2 {
        font-size: 0.6rem;
    }
    #crossCards {
        width: 100%;
    }
    .squareImg {
        height: 300px;
    }
}

@media only screen and (min-device-width:481px) and (max-device-width: 768px) {
    section,
    .container {
        margin: 0;
    }
}