@font-face {
    font-family: 'Avenir';
    src: url('/fonts/AvenirLTStd-Book.otf');
}

@font-face {
    font-family: 'VLNL-Berlagebrug-Gietijzer';
    src: url('/fonts/VLNL-Berlagebrug-Gietijzer.ttf');
}
body {
    font-family: 'Avenir';
    color: #5a5a5a;
    font-size: 1.5rem;
}

h1, h2, h3, h4, h5, button {
    font-family: 'VLNL-Berlagebrug-Gietijzer';
    color: #231e1e;
}

a {
    color: white;
    font-family: 'Avenir';
    margin: 0;
    padding: 0;
}

svg {
    width: 25%;
    margin-right: 1%!important;
}
.card{
    border: none;
}
.extra-style-AmsterdamCross {
    text-align: center;
    color: #6e0f0a;
    /* height: 10vh; */

}
.extra-style-red {
    background: #ff2d0a;
    color: white;
    padding: 15px;
    font-size: 1.1rem;
    border-radius: 8px;
}
.extra-style-store {
    background: #d7e0e5;
    padding: 5%;
}
.extra-style-logos {
    width: 25%;
    margin: auto auto;
    background: white;
    padding: 5%;
    border-radius: 15%;
}
.storelogos {
    margin: auto auto;
    width: 60%;
    justify-content: space-around;
}
.extra-style-storelogos {
    width: 40%;
    margin-top: 5%
}
.style-footer {
    background: #ff2d0a;
    padding-bottom: 1%;
    padding-top:2;
}
.extra-style-footer {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    margin: 0;
}
.circle_indicator {
    border-radius: 100%;
    width: 20px !important;
    height: 20px !important;
    background-color: #231e1e !important;
}

.carousel-caption {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
    color: #231e1e;
}
.navLink{
    text-decoration: none;
    text-transform: uppercase;
    color: #5a5a5a;
    font-size: 1.5rem;
    font-weight: 800;
}
.navlink:hover{
        text-decoration: none;
}
.cross{
    width: 40%;
    align-self: center;
}
.navImg{
    width: 25%;
}