---
siteTitle: Food Market Amsterdam - Kook thuis als een echte Chef
---
 <!DOCTYPE html>
    <html lang='en'>
    <head>
        {% include "head.njk" %}
        {% include "fbPixel.njk" %}
        {% include "googleTagmanager_head.njk"%}
    </head>

    <body>
        {% include "googleTagmanager_body.njk"%}
        {% include "navigation.njk" %}

         {{content | safe }}

        {% include "footer.njk" %}
        {% include "bootstrapScripts.njk" %}
        {% include "osChoiceScripts.njk" %}
    </body>

    </html>