---
siteTitle: Food Market Amsterdam - Toegang tot de grootste markt van Amsterdam
---
 <!DOCTYPE html>
    <html lang='en'>
      <head>
         {% include "head.njk" %}
         {% include "fbPixel.njk" %}
         {% include "googleTagmanager_head.njk"%}
      </head>

    <body>
         {% include "googleTagmanager_body.njk"%}
         {{ content | safe }}
         {% include "bootstrapScripts.njk" %}
    </body>

    </html>